<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>供应商信息</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome5-overrides.min.css">
    <link
      href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
 
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
 
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(document).ready( function () {
        $('#myTable').DataTable({
   "columnDefs": [
       { "orderable": false, "targets": 6 }
     ]
}
        );
        } );
        
        $(document).ready(function(){
              $("#item-add-btn").click(function(){
              $("#item-search1").hide();
              $("#item-search2").hide();
              $("#item-add1").show();
              $("#item-add2").show();
              $("#item-add-btn").attr("style","color: var(--bs-blue);");
              $("#item-search-btn").attr("style","color:rgb(133, 135, 150)");
			
              });
              $("#item-search-btn").click(function(){
              $("#item-add1").hide();
              $("#item-add2").hide();
              $("#item-search1").show();
              $("#item-search2").show();
              $("#item-search-btn").attr("style","color: var(--bs-blue);");
              $("#item-add-btn").attr("style","color:rgb(133, 135, 150)");
              });
            });
    </script>
</head>

<body id="page-top" onload="Select_record()">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <br>
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                
                    <div class="sidebar-brand-icon rotate-n-15"><img src="../static/img/logo1.png"></div>
                    <div class="sidebar-brand-text mx-3"><br><span>S&nbsp;M</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="index.html"><i class="fa fa-sitemap"></i><span>门店信息</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html"><i class="fas fa-weight-hanging"></i><span>供应商信息</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html"><i class="fa fa-shopping-cart"></i><span>商品信息</span></a></li>
                    <li class="nav-item"><a class="nav-link " href="index.html"><i class="fa fa-wpforms"></i><span>采购信息</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="deliver.html"><i class="fas fa-table"></i><span>销售记录</span></a></li>
                    <li class="nav-item"><a class="nav-link " href="register.html"><i class="fa fa-car"></i><span>派送信息</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="blank.html"><i class="fas fa-window-maximize"></i><span>库存信息</span></a></li>
					<li class="nav-item"><a class="nav-link" href="blank.html"><i class="fas fa-window-maximize"></i><span>仓库信息</span></a></li>
					<li class="nav-item"><a class="nav-link active" href="blank.html"><i class="fas fa-window-maximize"></i><span>员工信息</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    
                    <div class="container-fluid">
                        <h1>Hello! John White</h1>
                    </div>
                      <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item" style="width:200px"><a class="nav-link active fw-bold" href="#" id="item-add-btn" >查询、删除与修改</a></li>
                    <li class="nav-item" style="width:200px"><a class="nav-link text-center fw-bold" style="color: var(--bs-blue);" id="item-search-btn" href="#">高级搜索与精确查询</a></li>
                    <li class="nav-item " style="width:200px"><a  class="nav-link  text-danger" href="#" >Log Out &ensp;  <i class="fa fa-sign-out"></i></a></li>
                </ul>
            </div>
                </nav>
    
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Deliver</h3>
                    <div class="card shadow">
                        <div class="card-header" style="color: var(--bs-light);" id="item-add1">
                            <p class="text-primary m-0 fw-bold text-center">新增</p>
                        </div>
                        
                        <div class="card-body" id="item-add2">
                            <div id="tableshow"></div>

                                
                                 <table class="table table-bordered  my-0 table-hover" id="myTable1">
                                        <thead style="height: 3px;">
                                           <tr>
                                                <th class="text-center" style="width: 200px; " >员工账号</th>
                                              <th class="text-center" style="width: 200px; " >密码</th>
											   <th class="text-center" style="width: 200px; " >员工姓名</th>
											   <th class="text-center" style="width: 200px; " >电话</th>
                                                <th  class="text-center" style="width: 200px;"> 所属门店</th>
											   <th  class="text-center" style="width: 200px;"> 部门</th>
                                                <th class="text-center"  style=" width:200px">操作</th>
                                                                                          
                                            </tr>
                                       
                                        </thead>
                                        <tbody>
                                            <form action="/user_info/" method="POST" class="ui form">
                                                {% csrf_token %}
                                            <tr>
                                                <td class="text-center" style="width: 200px;"> <output>{{New_id}}</output></td>
												<td class="text-center" style="width: 200px;"><input placeholder="密码:6-8位字符" type="text" name="new_user_psw" required
                                   autocomplete="off"></td>
												<td class="text-center" style="width: 200px;"><input placeholder="员工姓名" type="text" name="new_user_name"
                                   autocomplete="off"></td>
												<td class="text-center" style="width: 200px;"><input style="font-size: 15pt; margin-top:0px" placeholder="电话号码:8或11位" type="text"
                                   name="new_user_tel" required></td>
                                                
                                                <td  class="text-center" style="width: 200px;"><select name="new_user_dep" style="font-size: 15pt; margin-top:10px" >
													<option value="00">所属部门</option>
													<option value="管理部门">管理部门</option>
													<option value="销售部门">销售部门</option>
													<option value="采购部门">采购部门</option>
													<option value="物流部门">物流部门</option>
												</select></td>
											<td  class="text-center" style="width: 200px;"><select name="new_user_branch_id" style="font-size: 15pt; margin-top:10px">
													<option value="All">所属分店</option>
													{% for item_1,item_2 in Dist %}
													<option value="{{item_1}}">{{item_1}} {{item_2}}</option>
													{% endfor %}
												</select></td>
                                                <td  class="text-center" style="width: 200px;"> <button class="btn bg-primary" style="color:white" type="submit" value="确认加入"  >提交 </button>&nbsp;<button class="btn bg-danger" style="color:white"  type="reset" >重置</button></td>
                                                
                                              
                                            </tr>
                                       </form>
                                                
                                   

                                        </tbody>
                                        
                                    </table>
                                
                        </div>
                        <div class="card-header" style="color: var(--bs-light);" id="item-search1">
                            <p class="text-primary m-0 fw-bold text-center">查询搜索</p>
                        </div>
                        
                        <div class="card-body" id="item-search2">
                            <div id="tableshow2"></div>

                                
                                 <table class="table table-bordered  my-0 table-hover" id="myTable2">
                                        <thead style="height: 3px;">
                                           <tr>
                                                <th class="text-center"  style=" width:200px"></th>
											   <th class="text-center"  style=" width:200px"></th>
											   <th class="text-center"  style=" width:200px"></th>
												<th class="text-center"  style=" width:200px"></th>
											   
                                                                                          
                                            </tr>
                                       
                                        </thead>
                                        <tbody>
                                            <form action="/user_info/" method="POST" class="ui form">
                                                {% csrf_token %}
                                            <tr>
                                                <td class="text-center" style="width: 200px;">账号:<input style="font-size: 15pt; margin-top:0px" placeholder="账号:1001-1500" type="text"
                                   name="Search_user_account" value="{{All_request.Search_user_account}}"></td>
                                                
                                                <td  class="text-center" style="width: 200px;" >密码: <input type="text" placeholder="密码" name="Search_user_psw" value="{{All_request.Search_user_psw}}"></td>
                                                <td  class="text-center" style="width: 200px;" >员工姓名:<input type="text" placeholder="员工姓名" name="Search_user_name" value="{{All_request.Search_user_name}}"></td>
												<td  class="text-center" style="width: 200px;" >电话: <input type="text" placeholder="电话号码" name="Search_user_tel" value="{{All_request.Search_user_tel}}"></td>
											</tr>
											<tr>
												<td  class="text-center" style="width: 200px;" >所属部门:<select name="Search_user_dep" style="font-size: 15pt; margin-top:10px" id="Search_user_dep">
													<option value="00">所属部门</option>
													<option value="管理部门">管理部门</option>
													<option value="销售部门">销售部门</option>
													<option value="采购部门">采购部门</option>
													<option value="物流部门">物流部门</option>
												 </select></td>
												<td  class="text-center" style="width: 200px;" ><select name="Search_user_branch_id" style="font-size: 15pt; margin-top:10px" id="Search_user_branch_id">
													<option value="All">所属分店</option>
													{% for item_1,item_2 in Dist %}
													<option value="{{item_1}}">{{item_1}} {{item_2}}</option>
													{% endfor %}
												</select></td>
												<td></td>
												<td></td>
												
											</tr>
                                            <tr>
                                                <td class="text-center" style="width: 200px;"> <select name="Level_1" style="font-size: 15pt; margin-top:10px" id="Level_1">
													<option value="">一级排序依据</option>
													<option value="user_account_incr">员工账户(顺序)</option>
													<option value="user_account_desc">员工账户(逆序)</option>
													<option value="user_psw_incr">密码(顺序)</option>
													<option value="user_psw_desc">密码(逆序)</option>
													<option value="user_name_incr">员工姓名(顺序)</option>
													<option value="user_name_desc">员工姓名(逆序)</option>
													<option value="user_tel_incr">电话号码(顺序)</option>
													<option value="user_tel_desc">电话号码(逆序)</option>
													<option value="user_branch_id_incr">所属门店号(顺序)</option>
													<option value="user_branch_id_desc">所属门店号(逆序)</option>
													<option value="user_dep_incr">部门(顺序)</option>
													<option value="user_dep_desc">部门(逆序)</option>
												</select></td>
                                                <td class="text-center" style="width: 200px;"><select name="Level_2" style="font-size: 15pt; margin-top:10px" id="Level_2">
														<option value="">二级排序依据</option>
														<option value="user_account_incr">员工账户(顺序)</option>
														<option value="user_account_desc">员工账户(逆序)</option>
														<option value="user_psw_incr">密码(顺序)</option>
														<option value="user_psw_desc">密码(逆序)</option>
														<option value="user_name_incr">员工姓名(顺序)</option>
														<option value="user_name_desc">员工姓名(逆序)</option>
														<option value="user_tel_incr">电话号码(顺序)</option>
														<option value="user_tel_desc">电话号码(逆序)</option>
														<option value="user_branch_id_incr">所属门店号(顺序)</option>
														<option value="user_branch_id_desc">所属门店号(逆序)</option>
														<option value="user_dep_incr">部门(顺序)</option>
														<option value="user_dep_desc">部门(逆序)</option>
													</select></td>
												<td class="text-center" style="width: 200px;"><select name="Level_3" style="font-size: 15pt; margin-top:10px" id="Level_3">
														<option value="">三级排序依据</option>
														<option value="user_account_incr">员工账户(顺序)</option>
														<option value="user_account_desc">员工账户(逆序)</option>
														<option value="user_psw_incr">密码(顺序)</option>
														<option value="user_psw_desc">密码(逆序)</option>
														<option value="user_name_incr">员工姓名(顺序)</option>
														<option value="user_name_desc">员工姓名(逆序)</option>
														<option value="user_tel_incr">电话号码(顺序)</option>
														<option value="user_tel_desc">电话号码(逆序)</option>
														<option value="user_branch_id_incr">所属门店号(顺序)</option>
														<option value="user_branch_id_desc">所属门店号(逆序)</option>
														<option value="user_dep_incr">部门(顺序)</option>
														<option value="user_dep_desc">部门(逆序)</option>
													</select></td>
                                                <td  class="text-center" style="width: 100px;"> <button class="btn bg-primary" style="color:white" type="submit" value="确认加入"  >提交 </button>&nbsp;<button class="btn bg-danger" style="color:white"  type="reset" >重置</button></td>
                                            </tr>    
                                              
                                            
                                       </form>
                                                
                                   

                                        </tbody>
                                        
                                    </table>
                                
                        </div>
                        <script type="text/javascript">
                            $("#item-add1").hide();
                            $("#item-add2").hide();</script>
                        {% if Edit_id %}
                        <div class="card-header" style="color: var(--bs-light);">
                            <p class="text-primary m-0 fw-bold text-center">修改</p>
                        </div>
                        <div class="card-body">
                            <div id="tableshow3"></div>

                                
                                 <table class="table table-bordered  my-0 table-hover" id="myTable3"> 
                                        <thead style="height: 3px;">
                                           <tr>
                                                 <th class="text-center" style="width: 200px; " >账号</th>
                                              <th class="text-center" style="width: 200px; " >密码</th>
											   <th class="text-center" style="width: 200px; " >姓名</th>
											   <th class="text-center" style="width: 200px; " >电话</th>
                                                <th  class="text-center" style="width: 200px;"> 部门</th>
											   <th  class="text-center" style="width: 200px;"> 门店</th>
                                                <th class="text-center"  style=" width:200px">操作</th>
                                                                                          
                                            </tr>
                                       
                                        </thead>
                                        <tbody>
                                            <form action="/supplier_info/" method="POST" class="ui form">
                                                 {% csrf_token %}
                                            <tr>
                                                
                                                <td class="text-center" style="width: 200px;"><output>{{Edit_id}}</output></td>
                                                 <td class="text-center" style="width: 200px;"><input class="text-center" style="width: 200px;" type="text" name="edit_user_psw" placeholder="新密码" value="{{Edit_object.user_psw}}"></td> 
												<td class="text-center" style="width: 200px;">
												<input class="text-center" style="width: 200px;" type="text" name="edit_user_name" placeholder="姓名" value="{{Edit_object.user_name}}"></td> 
												<td class="text-center" style="width: 200px;"><input class="text-center" style="font-size: 15pt; margin-top:0px width: 200px;" placeholder="电话号码" type="text"
                                   name="edit_user_tel" value="{{Edit_object.user_tel}}"></td>
												<td  class="text-center"><select class="text-center"  name="edit_user_dep" style="font-size: 15pt; margin-top:10px width: 200px;">
													<option value="{{Edit_object.user_dep}}">{{Edit_object.user_dep}}</option>
													<option value="管理部门">管理部门</option>
													<option value="销售部门">销售部门</option>
													<option value="采购部门">采购部门</option>
													<option value="物流部门">物流部门</option>
												</select></td>
												<td  class="text-center" style="width: 200px;">
												<select class="text-center" name="edit_user_branch_id" style="font-size: 15pt; margin-top:10px width: 200px;">
													<option value="{{Edit_object.user_branch_id}}">{{Edit_object.user_branch_id}} {{Edit_id_branch_district}}</option>
													{% for item_1,item_2 in Dist %}
													<option value="{{item_1}}">{{item_1}} {{item_2}}</option>
													{% endfor %}
												</select></td>
                                                <td  class="text-center" style="width: 100px;"> <button class="btn bg-primary" style="color:white" type="submit" value="确认修改" >提交 </button>&nbsp;<button class="btn bg-danger" style="color:white"  type="reset" >重置</button></td>
                                                
                                              
                                            </tr>
                                       </form>
                                                
                                   

                                        </tbody>
                                        
                                    </table>
                                
                        </div>
                         {% endif %}
                    </div>
                    <br>
                    
                    <div class="card shadow">
                        <div class="card-header" style="color: var(--bs-light);">
                            <p class="text-primary m-0 fw-bold text-center">内容</p>
                        </div>
                        <div class="card-body">
                            

                                
                                 <table class="table table-bordered  my-0 table-hover" id="myTable">
                                        <thead style="height: 3px;">
                                           <tr>
                                                <th class="text-center" style="width: 200px; " title="按住'shift'多列排序">账号</th>
                                              <th class="text-center" style="width: 200px; " title="按住'shift'多列排序">密码</th>
											   <th class="text-center" style="width: 200px; " title="按住'shift'多列排序">姓名</th>
											   <th class="text-center" style="width: 200px; " title="按住'shift'多列排序">电话</th>
                                                <th  class="text-center" style="width: 200px;" title="按住'shift'多列排序"> 部门</th>
                                                <th class="text-center"  style=" width:200px" title="按住'shift'多列排序">门店</th>
											   <th class="text-center"  style=" width:200px" title="按住'shift'多列排序">操作</th>
                                                                                          
                                            </tr>
                                       
                                        </thead>
                                        <tbody>
                                            {% csrf_token %}
                                           {% if user_lists %}
                                            {% for user in user_lists%}
                                            <tr>
                                                <td class="text-center" style="width: 200px;"><output>{{user.user_account}}</output></td>
                                                
                                                <td  class="text-center" style="width: 200px;"><output>{{user.user_psw}}</output></td>
												<td class="text-center" style="width: 200px;"><output>{{user.user_name}}</output>
												</td>
												<td class="text-center" style="width: 200px;"><output>{{user.user_tel}}</output></td>
												<td class="text-center" style="width: 200px;"><output>{{user.user_dep}}</output></td>
												<td class="text-center" style="width: 200px;"><output>{{user.user_branch_id}}</output></td>
                                                <td  class="text-center" style="width: 200px;"> <a class="btn bg-primary" style="color:white"  href="/user_info/?Edit_id={{user.user_account}}">修改 </a>&nbsp;<a  style="color:white" onclick="dltif(this)" class="btn bg-danger" href="/user_info/?Delete_id={{user.user_account}}">删除</a></td>
                                                
                                               
                                                
                                            </tr>
                                            {% endfor %}
                                           {% endif %}
                                   

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th class="text-center" style="width: 200px; " ><strong>账号</strong></th>
                                              <th class="text-center" style="width: 200px; " ><strong>密码</strong></th>
											   <th class="text-center" style="width: 200px; " ><strong>姓名</strong></th>
											   <th class="text-center" style="width: 200px; " ><strong>电话</strong></th>
                                                <th  class="text-center" style="width: 200px;"> <strong>部门</strong></th>
												<th  class="text-center" style="width: 200px;"> <strong>门店</strong></th>
                                                <th class="text-center"  style=" width:200px"><strong>操作</strong></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Sale Manage</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/chart.min.js"></script>
    <script src="../static/js/bs-init.js"></script>
    <script src="../static/js/theme.js"></script>
<script type="text/javascript">
	function dltif(){
	var flag=window.confirm("Delete it?");
	this.onclick=function(){
		if(!flag) {
			flag=true;
			return false;
		}
	}
}
</script>

<script type="text/javascript">
    function Select_record() {
        if('{{All_request.user_account_Sort}}' == 'user_account_incr')
            document.getElementById("user_account_Sort").selectedIndex = 1;
        else if('{{All_request.user_account_Sort}}' == 'user_account_desc')
            document.getElementById("user_account_Sort").selectedIndex = 2;
        else if('{{All_request.user_name_Sort}}' == 'user_name_incr')
            document.getElementById("user_name_Sort").selectedIndex = 1;
        else if('{{All_request.user_name_Sort}}' == 'user_name_desc')
            document.getElementById("user_name_Sort").selectedIndex = 2;
        else if('{{All_request.user_branch_id_Sort}}' == 'user_branch_id_incr')
            document.getElementById("user_branch_id_Sort").selectedIndex = 1;
        else if('{{All_request.user_branch_id_Sort}}' == 'user_branch_id_desc')
            document.getElementById("user_branch_id_Sort").selectedIndex = 2;

        if('{{All_request.Search_user_branch_id}}' == 'All' || '{{All_request.Search_user_branch_id}}' == '')
            document.getElementById("Search_user_branch_id").selectedIndex = 0;
        else
            document.getElementById("Search_user_branch_id").selectedIndex = {{All_request.Search_user_branch_id}}+1;

        if('{{All_request.Search_user_dep}}' == '00' || '{{All_request.Search_user_dep}}' == '')
            document.getElementById("Search_user_dep").selectedIndex = 0;
        else if('{{All_request.Search_user_dep}}' == '管理部门')
            document.getElementById("Search_user_dep").selectedIndex = 1;
        else if('{{All_request.Search_user_dep}}' == '销售部门')
            document.getElementById("Search_user_dep").selectedIndex = 2;
        else if('{{All_request.Search_user_dep}}' == '采购部门')
            document.getElementById("Search_user_dep").selectedIndex = 3;
        else if('{{All_request.Search_user_dep}}' == '物流部门')
            document.getElementById("Search_user_dep").selectedIndex = 4;

        if('{{All_request.Level_1}}' == 'user_account_incr')
            document.getElementById("Level_1").selectedIndex = 1;
        else if('{{All_request.Level_1}}' == 'user_account_desc')
            document.getElementById("Level_1").selectedIndex = 2;
        else if('{{All_request.Level_1}}' == 'user_psw_incr')
            document.getElementById("Level_1").selectedIndex = 3;
        else if('{{All_request.Level_1}}' == 'user_psw_desc')
            document.getElementById("Level_1").selectedIndex = 4;
        else if('{{All_request.Level_1}}' == 'user_name_incr')
            document.getElementById("Level_1").selectedIndex = 5;
        else if('{{All_request.Level_1}}' == 'user_name_desc')
            document.getElementById("Level_1").selectedIndex = 6;
        else if('{{All_request.Level_1}}' == 'user_tel_incr')
            document.getElementById("Level_1").selectedIndex = 7;
        else if('{{All_request.Level_1}}' == 'user_tel_desc')
            document.getElementById("Level_1").selectedIndex = 8;
        else if('{{All_request.Level_1}}' == 'user_dep_incr')
            document.getElementById("Level_1").selectedIndex = 9;
        else if('{{All_request.Level_1}}' == 'user_dep_desc')
            document.getElementById("Level_1").selectedIndex = 10;
        else if('{{All_request.Level_1}}' == 'user_branch_id_incr')
            document.getElementById("Level_1").selectedIndex = 11;
        else if('{{All_request.Level_1}}' == 'user_branch_id_desc')
            document.getElementById("Level_1").selectedIndex = 12;

        if('{{All_request.Level_2}}' == 'user_account_incr')
            document.getElementById("Level_2").selectedIndex = 1;
        else if('{{All_request.Level_2}}' == 'user_account_desc')
            document.getElementById("Level_2").selectedIndex = 2;
        else if('{{All_request.Level_2}}' == 'user_psw_incr')
            document.getElementById("Level_2").selectedIndex = 3;
        else if('{{All_request.Level_2}}' == 'user_psw_desc')
            document.getElementById("Level_2").selectedIndex = 4;
        else if('{{All_request.Level_2}}' == 'user_name_incr')
            document.getElementById("Level_2").selectedIndex = 5;
        else if('{{All_request.Level_2}}' == 'user_name_desc')
            document.getElementById("Level_2").selectedIndex = 6;
        else if('{{All_request.Level_2}}' == 'user_tel_incr')
            document.getElementById("Level_2").selectedIndex = 7;
        else if('{{All_request.Level_2}}' == 'user_tel_desc')
            document.getElementById("Level_2").selectedIndex = 8;
        else if('{{All_request.Level_2}}' == 'user_dep_incr')
            document.getElementById("Level_2").selectedIndex = 9;
        else if('{{All_request.Level_2}}' == 'user_dep_desc')
            document.getElementById("Level_2").selectedIndex = 10;
        else if('{{All_request.Level_2}}' == 'user_branch_id_incr')
            document.getElementById("Level_2").selectedIndex = 11;
        else if('{{All_request.Level_2}}' == 'user_branch_id_desc')
            document.getElementById("Level_2").selectedIndex = 12;

        if('{{All_request.Level_3}}' == 'user_account_incr')
            document.getElementById("Level_3").selectedIndex = 1;
        else if('{{All_request.Level_3}}' == 'user_account_desc')
            document.getElementById("Level_3").selectedIndex = 2;
        else if('{{All_request.Level_3}}' == 'user_psw_incr')
            document.getElementById("Level_3").selectedIndex = 3;
        else if('{{All_request.Level_3}}' == 'user_psw_desc')
            document.getElementById("Level_3").selectedIndex = 4;
        else if('{{All_request.Level_3}}' == 'user_name_incr')
            document.getElementById("Level_3").selectedIndex = 5;
        else if('{{All_request.Level_3}}' == 'user_name_desc')
            document.getElementById("Level_3").selectedIndex = 6;
        else if('{{All_request.Level_3}}' == 'user_tel_incr')
            document.getElementById("Level_3").selectedIndex = 7;
        else if('{{All_request.Level_3}}' == 'user_tel_desc')
            document.getElementById("Level_3").selectedIndex = 8;
        else if('{{All_request.Level_3}}' == 'user_dep_incr')
            document.getElementById("Level_3").selectedIndex = 9;
        else if('{{All_request.Level_3}}' == 'user_dep_desc')
            document.getElementById("Level_3").selectedIndex = 10;
        else if('{{All_request.Level_3}}' == 'user_branch_id_incr')
            document.getElementById("Level_3").selectedIndex = 11;
        else if('{{All_request.Level_3}}' == 'user_branch_id_desc')
            document.getElementById("Level_3").selectedIndex = 12;
    }


</script>
      {{data|safe}}
</body>
</html>
